.container{
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: white;
    margin-right: 350px;
}
.progress{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background-color: lime;
    animation: aa 2s linear normal;
}
@keyframes aa{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
body{
    background-color: black;
    text-align: center;
    align-items: center;
    align-content: center;
    color:white;
    text-shadow:
    0 0 5px lime,
    0 0 10px lime,
    0 0 20px lime,
    0 0 40px lime,
    0 0 80px lime,
    0 0 100px lime;
}
@keyframes redAlert {
  0%, 100% { color: white; }
  50% { color: #ff0000; }
}
h1 {
  animation: redAlert 1s infinite;   
  margin-top: 300px;
}
